Repository iotaledger/iri, pull requests merged in 2018-06, with the labels that each got.

#785 Integration of new tip selection and cleanup of tipsManager
  src/main/java/com/iota/iri/Iota.java
  src/main/java/com/iota/iri/service/API.java
  src/main/java/com/iota/iri/service/TipsManager.java
  src/main/java/com/iota/iri/service/TipsSolidifier.java
  src/main/java/com/iota/iri/service/tipselection/impl/TipSelectorImpl.java
  src/test/java/com/iota/iri/integration/NodeIntegrationTests.java
Labels: C-API, C-Tip Selection, E-Refactor

#806 download testnet Db files from S3
  .travis.yml
Labels: C-travis

#744 Improve Dockerfile
  DOCKER.md
  Dockerfile
  docker/entrypoint.sh
  docker/mvn-entrypoint.sh
  docker/settings-docker.xml
Labels: C-Docker

#817 tip selection: set default alpha value to 0.001
  src/main/java/com/iota/iri/conf/Configuration.java
Labels: C-Configuration, C-Tip Selection
