Repository iotaledger/iri, pull requests merged in 2018-04, with the labels that each got.

#601 Docker: useless `-p` (publish)
  README.md
Labels: build

#596 API Integration Tests Timeouts - added
  src/test/java/com/iota/iri/APIIntegrationTests.java
Labels: Ready For Test, Tests

#592 TCP BUG FIX and UDP minor fixup
  src/main/java/com/iota/iri/network/TCPNeighbor.java
  src/main/java/com/iota/iri/network/UDPNeighbor.java
Labels: Network, Ready For Test

#607 gracefully shutdown ZMQ
  src/main/java/com/iota/iri/zmq/MessageQ.java
Labels: ZMQ, bug

#620 integration tests fixes and maven directives
  pom.xml
  src/main/java/com/iota/iri/IRI.java
  src/test/java/com/iota/iri/APIIntegrationTests.java
  src/test/java/com/iota/iri/integration/APIIntegrationTests.java
  src/test/java/com/iota/iri/integration/NodeIntegrationTests.java
Labels: Tests

#599 RocksDBPersistenceProvider - a few fixes
  src/main/java/com/iota/iri/storage/rocksDB/RocksDBPersistenceProvider.java
  src/main/java/com/iota/iri/utils/Pair.java
Labels: DB, Test Passed

#542 Reduce writes if no data changed.
  src/main/java/com/iota/iri/controllers/TransactionViewModel.java
Labels: P2 - High, Performance, Under Test

#447 Publish the trytes of a transaction to the ZMQ
  src/main/java/com/iota/iri/storage/ZmqPublishProvider.java
Labels: ZMQ, docs needed

#622 Add readme repo status badges
  README.md
Labels: Docs

#624 allow enabling ZMQ via CLI flags
  src/main/java/com/iota/iri/IRI.java
Labels: ZMQ

#625 Added getTagValue to ZMQ tx topic (alon-e rework of #540)
  src/main/java/com/iota/iri/storage/ZmqPublishProvider.java
Labels: ZMQ

#623 IRI-326 ⁃ rename checkstyle xml to match convention - codacy integration
  checkstyle.xml
  pom.xml
Labels: Tests
