Repository iotaledger/iri, pull requests merged in 2018-09, with the labels that each got.

#940 Make TCPNeighbor send() synchronized to prevent queue overflows
  src/main/java/com/iota/iri/network/TCPNeighbor.java
Labels: C-Network, L-Under Test

#753 Add variable naming rules to checkstyle
  checkstyle.xml
  src/main/java/com/iota/iri/Iota.java
  src/main/java/com/iota/iri/MilestoneTracker.java
  src/main/java/com/iota/iri/TransactionValidator.java
  src/main/java/com/iota/iri/hash/Curl.java
  src/main/java/com/iota/iri/network/TransactionRequester.java
  src/main/java/com/iota/iri/network/replicator/ReplicatorSinkProcessor.java
  src/main/java/com/iota/iri/network/replicator/ReplicatorSourceProcessor.java
  src/main/java/com/iota/iri/service/API.java
  src/main/java/com/iota/iri/service/dto/WereAddressesSpentFrom.java
  src/main/java/com/iota/iri/utils/MapIdentityManager.java
Labels: E-Meta, E-Refactor

#971 Made getTTA conform standards
  src/main/java/com/iota/iri/service/API.java
  src/test/java/com/iota/iri/service/APIIntegrationTests.java
  src/test/java/com/iota/iri/service/NodeIntegrationTests.java
Labels: C-API

#978 SSL setup via docker-compose
  docker/ssl/README.md
  docker/ssl/docker-compose.yml
  docker/ssl/nginx-image/Dockerfile
  docker/ssl/nginx-image/nginx-secure.conf
  docker/ssl/nginx-image/nginx.conf
  docker/ssl/nginx-image/start.sh
  docker/ssl/start.sh
Labels: C-Docker
