Repository iotaledger/iri, pull requests merged in 2018-05, with the labels that each got.

#628 Kerl.java absorb now 😈 666% faster 😈 - plus 🍦 cleaner and 🍦 simplified code
  src/main/java/com/iota/iri/hash/Kerl.java
  src/test/java/com/iota/iri/hash/KerlTest.java
Labels: L-Ready For Test

#588 Add milestoneStartIndex to getNodeInfo
  src/main/java/com/iota/iri/Milestone.java
  src/main/java/com/iota/iri/service/API.java
  src/main/java/com/iota/iri/service/dto/GetNodeInfoResponse.java
  src/test/java/com/iota/iri/integration/APIIntegrationTests.java
Labels: C-API, L-Docs Needed

#727 Logging - routing, levels and file locations
  logback.xml
  src/main/java/com/iota/iri/IRI.java
  src/main/resources/logback.xml
Labels: C-Logging, T-Bug, T-Enhancement

#733 Pearl driver optimal threading
  src/main/java/com/iota/iri/hash/PearlDiver.java
Labels: C-POW, L-Awaiting More Reviews, T-Enhancement

#777 fix MAX_TIMESTAMP_VALUE to actually represent "max positive 27-trits value"
  src/main/java/com/iota/iri/service/API.java
Labels: C-API, C-POW, T-Bug
