Repository iotaledger/iri, pull requests merged in 2019-02, with the labels that each got.

#1316 Fresh transactionToRequest
  src/main/java/com/iota/iri/network/TransactionRequester.java
  src/test/java/com/iota/iri/network/TransactionRequesterTest.java
Labels: C-Network, L-Ready For Test

#1331 Add benchmarks for some crypto functions
  src/test/java/com/iota/iri/benchmarks/BenchmarkRunner.java
  src/test/java/com/iota/iri/benchmarks/crypto/CurlBenchmark.java
  src/test/java/com/iota/iri/benchmarks/crypto/PearlDiverBenchmark.java
Labels: C-Cryptography, C-Tests

#1332 Fix: Reduce db access and cpu usage needed to persist spent addresses
  src/main/java/com/iota/iri/BundleValidator.java
  src/main/java/com/iota/iri/Iota.java
  src/main/java/com/iota/iri/service/API.java
  src/main/java/com/iota/iri/service/ledger/LedgerService.java
  src/main/java/com/iota/iri/service/ledger/impl/LedgerServiceImpl.java
  src/main/java/com/iota/iri/service/milestone/impl/MilestoneServiceImpl.java
  src/main/java/com/iota/iri/service/snapshot/impl/SnapshotServiceImpl.java
  src/main/java/com/iota/iri/service/spentaddresses/SpentAddressesService.java
  src/main/java/com/iota/iri/service/spentaddresses/impl/SpentAddressesServiceImpl.java
  src/main/java/com/iota/iri/utils/IotaUtils.java
  src/test/java/com/iota/iri/TangleMockUtils.java
  src/test/java/com/iota/iri/TransactionTestUtils.java
  src/test/java/com/iota/iri/TransactionValidatorTest.java
  src/test/java/com/iota/iri/controllers/TransactionViewModelTest.java
  src/test/java/com/iota/iri/service/ledger/impl/LedgerServiceImplTest.java
  src/test/java/com/iota/iri/service/spentaddresses/impl/SpentAddressesProviderImplTest.java
  src/test/java/com/iota/iri/service/tipselection/impl/CumulativeWeightCalculatorTest.java
  src/test/java/com/iota/iri/service/tipselection/impl/RatingOneTest.java
  src/test/java/com/iota/iri/service/tipselection/impl/TailFinderImplTest.java
  src/test/java/com/iota/iri/service/tipselection/impl/WalkValidatorImplTest.java
  src/test/java/com/iota/iri/service/tipselection/impl/WalkerAlphaTest.java
Labels: C-Spent Addresses

#1342 Change: Do not persist pruner state
  src/main/java/com/iota/iri/Iota.java
  src/main/java/com/iota/iri/service/transactionpruning/TransactionPruner.java
  src/main/java/com/iota/iri/service/transactionpruning/async/AsyncTransactionPruner.java
  src/main/java/com/iota/iri/service/transactionpruning/async/MilestonePrunerJobQueue.java
  src/main/java/com/iota/iri/service/transactionpruning/async/SimpleJobQueue.java
  src/main/java/com/iota/iri/service/transactionpruning/jobs/MilestonePrunerJob.java
Labels: Local Snapshots

#1338 Fix: Db exists() method optimization
  src/main/java/com/iota/iri/service/spentaddresses/impl/SpentAddressesProviderImpl.java
  src/main/java/com/iota/iri/storage/rocksDB/RocksDBPersistenceProvider.java
Labels: C-DB, C-Spent Addresses

#1322 refactor milestone signature parameters to be configurable
  src/main/java/com/iota/iri/conf/BaseIotaConfig.java
  src/main/java/com/iota/iri/conf/MilestoneConfig.java
  src/main/java/com/iota/iri/conf/SnapshotConfig.java
  src/main/java/com/iota/iri/conf/TestnetConfig.java
  src/main/java/com/iota/iri/service/API.java
  src/main/java/com/iota/iri/service/milestone/MilestoneService.java
  src/main/java/com/iota/iri/service/milestone/impl/LatestMilestoneTrackerImpl.java
  src/main/java/com/iota/iri/service/milestone/impl/MilestoneServiceImpl.java
  src/main/java/com/iota/iri/service/spentaddresses/impl/SpentAddressesServiceImpl.java
  src/test/java/com/iota/iri/conf/ConfigFactoryTest.java
  src/test/java/com/iota/iri/conf/ConfigTest.java
  src/test/java/com/iota/iri/service/NodeIntegrationTests.java
Labels: C-Consensus

#1327 Fix unknown IXI command response
  src/main/java/com/iota/iri/IXI.java
  src/test/java/com/iota/iri/IXITest.java
Labels: C-IXI

#1206 As a user i want to upgrade the RocksDB to version 5.17.2 to be able to benefit from bug fixes and performance improvements
  pom.xml
  src/main/java/com/iota/iri/storage/rocksDB/RocksDBPersistenceProvider.java
Labels: C-DB
