Repository iotaledger/iri, pull requests merged in 2019-01, with the labels that each got.

#1194 add a plugin to create reproducible builds.
  .travis.yml
  pom.xml
Labels: C-Build, E-Meta

#1186 make storeMessage store transactions
  src/main/java/com/iota/iri/service/API.java
Labels: C-API, C-Testnet

#1200 Fixed #496: Creates rest endpoint for iotaconfig related settings as suggested
  src/main/java/com/iota/iri/service/API.java
  src/main/java/com/iota/iri/service/dto/GetNodeAPIConfigurationResponse.java
  src/test/java/com/iota/iri/service/APIIntegrationTests.java
Labels: C-API

#1314 Fix: Batch process spent addresses to avoid out of memory issues
  src/main/java/com/iota/iri/Iota.java
  src/main/java/com/iota/iri/service/spentaddresses/SpentAddressesService.java
  src/main/java/com/iota/iri/service/spentaddresses/impl/SpentAddressesServiceImpl.java
Labels: Local Snapshots, T-Bug
