Repository iotaledger/iri, pull requests merged in 2020-01, with the labels that each got.

#1702 Fix: Ensure proper creation of solid entrypoints
  src/main/java/com/iota/iri/service/snapshot/impl/SnapshotServiceImpl.java
Labels: C-Local Snapshots, T-Bug

#1694 Remove magic number from handshake
  src/main/java/com/iota/iri/network/protocol/Handshake.java
Labels: L-Test Passed

#1551 Feature: publish sn_trytes in zmq
  src/main/java/com/iota/iri/service/milestone/impl/MilestoneServiceImpl.java
  src/main/java/com/iota/iri/zmq/README.md
Labels: C-ZMQ

#1660 sort milestone candidates before analyzing
  src/main/java/com/iota/iri/controllers/AddressViewModel.java
  src/main/java/com/iota/iri/service/milestone/impl/LatestMilestoneTrackerImpl.java
Labels: C-Consensus

#1584 Feature: Use one RocksDB instance for spent addresses and local snapshots
  .gitignore
  python-regression/tests/features/machine6/6_local_snapshots_tests.feature
  python-regression/tests/features/machine6/config.yml
  src/main/java/com/iota/iri/Iota.java
  src/main/java/com/iota/iri/MainInjectionConfiguration.java
  src/main/java/com/iota/iri/conf/BaseIotaConfig.java
  src/main/java/com/iota/iri/conf/SnapshotConfig.java
  src/main/java/com/iota/iri/conf/TestnetConfig.java
  src/main/java/com/iota/iri/controllers/LocalSnapshotViewModel.java
  src/main/java/com/iota/iri/model/LocalSnapshot.java
  src/main/java/com/iota/iri/service/snapshot/SnapshotProvider.java
  src/main/java/com/iota/iri/service/snapshot/impl/SnapshotProviderImpl.java
  src/main/java/com/iota/iri/service/snapshot/impl/SnapshotServiceImpl.java
  src/main/java/com/iota/iri/service/spentaddresses/impl/SpentAddressesProviderImpl.java
  src/main/java/com/iota/iri/storage/LocalSnapshotsPersistenceProvider.java
  src/test/java/com/iota/iri/MainInjectionConfigurationTest.java
  src/test/java/com/iota/iri/TransactionValidatorTest.java
  src/test/java/com/iota/iri/benchmarks/dbbenchmark/states/DbState.java
  src/test/java/com/iota/iri/controllers/TransactionViewModelTest.java
  src/test/java/com/iota/iri/network/TransactionRequesterTest.java
  src/test/java/com/iota/iri/service/snapshot/impl/SnapshotProviderImplTest.java
  src/test/java/com/iota/iri/service/spentaddresses/impl/SpentAddressesProviderImplTest.java
  src/test/java/com/iota/iri/service/tipselection/impl/EntryPointSelectorImplTest.java
  src/test/java/com/iota/iri/storage/rocksDB/LocalSnapshotsPersistenceProviderTest.java
Labels: C-Local Snapshots, C-Spent Addresses, T-Discussion
